USE [master]
GO
/****** Object:  Database [Nimap]    Script Date: 11/23/2021 3:34:34 AM ******/
CREATE DATABASE [Nimap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nimap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nimap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nimap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nimap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nimap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nimap]
GO
/****** Object:  User [nimap]    Script Date: 11/23/2021 3:34:35 AM ******/
CREATE USER [nimap] FOR LOGIN [nimap] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nimap]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [nimap]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [nimap]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [nimap]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [nimap]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nimap]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [nimap]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [nimap]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [nimap]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/23/2021 3:34:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/23/2021 3:34:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
